build --jobs=10

build --spawn_strategy=remote
build --strategy=Javac=remote
build --strategy=Closure=remote
build --genrule_strategy=remote
build --define=EXECUTOR=remote
build --strategy=AngularTemplateCompile=remote 
build --strategy=TypeScriptCompile=remote

build --platforms=//tools:rbe_ubuntu1604-angular

build --remote_executor=remote:8980

build --experimental_strict_action_env=true

build --remote_timeout=3600

build --verbose_failures=true
build --define=compile=legacy

run --nolegacy_external_runfiles